<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ book.title }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col pt-5">
            <h1 class="mb-4">{{ book.title }}</h1>
            <p><strong>Автор: </strong>{{ book.author }}</p>
            <p><strong>Цена: </strong>{{ book.price }}</p>
            <p><strong>Наличие: </strong>
                {% if book.available %}
                В наличии
                {% else %}
                Нет в наличии
                {% endif %}
            </p>
            <p><strong>Теги: </strong>
                {% for tag in book.tags %}
                #{{tag}}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div class="mt-5">
                <a href="{{ url_for('book_edit', book_id=book.id) }}" class="btn btn-primary">Редактировать</a>
                <form class="d-inline" action="{{ url_for('book_remove', book_id=book.id) }}" method="post">
                    <button class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>